<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tfptLocation" value="C:\Program Files (x86)\Microsoft Team Foundation Server 2010 Power Tools\TFPT.EXE" />
    <add key="tfLocation" value="C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\TF.exe" />
    <add key="tfsWorkspace" value="E:\Tfs-Clean" />
    <add key="tfsUserName" value="tfs\zhangbh" />
    <add key="tfsPassword" value="zhangbh" />
  </appSettings>
</configuration>